---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.theme }}";

a {
	.post-list &:after {
		content: "\0000a0\279A";
		font-size: .6em;
		position: relative;
		bottom: .4em;
		text-decoration: none;
	}
}
